
@{
    Layout = null;
}


<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Muscat Shade Oman</title>
    <link href="~/css/style.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="~/css/jquery.fullPage.css" />
    <link rel="stylesheet" href="~/css/animate.css">
    <link rel="stylesheet" type="text/css" href="~/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <style>
        ul {
            padding: initial;
            color: #000000;
        }
    </style>

</head>


<body>


    <!--POPUP MENU-->
    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog" style="background:rgba(0, 0, 0, .7);">
        <button type="button" class="close close-new" data-dismiss="modal"> <img src="~/images/close_button.png" /></button>

        <!-- Modal content-->
        <div class="modal-content">

            <ul class="pop-menu">
                <li><a href="#">Home  </a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Services </a> </li>
                <li><a href="#">Projects  </a></li>
                <!-- <li><a href="#">Faq </a></li>-->
                <li><a href="#">Reach us </a></li>
            </ul>
        </div>

    </div>

    <!--POPUP MENU-->








    <div class="wrapper-main position-relative">

        <div class="top-menu">
            <div class="wrapper-main-in">
                <a href="#" class="left-logo">
                    <img src="~/images/zero-degree/main-logo.png" />
                </a>
                <div class="menu">
                    <ul>
                        <li><a href="#" class="active-menu">Home  </a></li>
                        <li><a href="#">About Us</a></li>
                        <li class="dropdown1">
                            <a href="#"> Services</a>
                            <div class="dropdown-content1">
                                <ul>
                                    <li><a href="#">Shade and structres</a></li>
                                    <li><a href="#">Aluminium glazing work</a></li>
                                    <li><a href="#">Steel fabrication</a></li>
                                    <li><a href="#">S-steel fabrication</a></li>
                                    <li><a href="#">Shade and structres</a></li>
                                    <li><a href="#">Aluminium glazing work</a></li>
                                </ul>
                            </div> <!--sub menu-->
                        </li>
                        <li><a href="#">Projects  </a></li>
                        <!--
                        <li><a href="contact.php">Faq </a></li>-->
                        <li><a href="#">Reach us </a></li>
                    </ul>
                </div> <!--menu-->

                <div class="contact-top-menu">
                    <a class="phone-number">+968 95320008</a>
                    <a class="phone-number">+96879573230</a>
                    <a class="email-top">muscatshadeint@gmail.com</a>
                </div> <!--contact top menu-->
                <div class="res-menu" data-toggle="modal" data-target="#myModal">
                    <img src="~/images/right-menu.png" />
                </div> <!--right-->

            </div>  <!--main in-->
        </div>
    </div>  <!--main-->








    <div id="fullpage">


        <div class="section" id="section1">
            <div class="main-img"></div>
            <div class="wrapper-main">
                <div class="bg-text1 fadeindown">
                    <div class="bg-text1-main">
                        <div class="text-add-bg">
                            <span class="sub-head second-section-text">Fabric Architectures</span>
                            <content class="text-sub margin-bottom-15">
                                <span style="color:red">Fabric Architect (FA)</span> designs and builds custom fabric canopies, awnings, shade structures, carports and architectural fabric structures for people who want "one of a kind" protection from the Elements (Hot ,rain, wind, snow). FA also offers standard products thru selective manufacturers worldwide.
                                <div class="sub-points">
                                    <ul>
                                        <li>Muscat Shade provides a large variety of shades for a variety of industries and applications.</li>
                                        <li>Our services starts from concept development form finding, detailing, shop drawings, fabrications and installation.</li>
                                        <li>We specialize in custom tensile fabric structures, recovers, architectural umbrellas and shade structures.</li>
                                        <!--<li>We design, detail and build what you want: Temporary, Permanent, Interior, Exterior.</li>
                                        <li>Clients range from Residential, Commercial, Industrial, Restaurant, Automobile, Resort, Hotel, Summer Camps and Retail.</li>-->
                                    </ul>
                                </div>
                            </content>
                            <div class="wrapper-main"><a href="#" class="go-btn">Explore </a></div>
                        </div>
                    </div>
                </div>   <!--section11-->
            </div>

        </div>  <!--section2-->

        <div class="section " id="section0">
            <div class="main-img1"></div>
            <div class="wrapper-main">
                <div class="bg-text1 fadeindown">
                    <div class="bg-text1-main">
                        <div class="text-add-bg">
                            <span class="sub-head">
                                Steel Structures
                            </span>
                            <content class="text-sub margin-bottom-15">
                                At
                                <span style="color:red">MUSCAT SHADE</span> we provide you with comprehensive solutions for your steel related
                                requirements We undertake all steel works both in mild steel and stainless steel The
                                years of experience in the business have perfected using completing your projects with
                                supreme finish and with in the specified time constrains The following are the services
                                that we provide:
                                <div class="sub-points">
                                    <ul>
                                        <li>
                                            The precise designs produced at steel and most suitable for the client specifications.
                                        </li>
                                        <li>
                                            Our
                                            experienced designers deliver optimized solutions taking in to account all local
                                            regulations and project specification.
                                        </li>
                                        <!--<li>
                                            We provide designs required for the steel
                                            structures, mezzanine floor, roofing, staircase and all other general steel works both in
                                            mild steel.
                                        </li>-->
                                    </ul>
                                </div>
                            </content>

                            <div class="wrapper-main"><a href="#" class="go-btn">Explore </a></div>
                        </div>
                    </div>
                </div>   <!--section11-->
            </div>

        </div>  <!--section1-->

        <div class="section" id="section2">
            <div class="main-img2"></div>
            <div class="bg-text3 fadeindown">
                <div class="bg-text1-main">
                    <div class="text-add-bg">
                        <span class="sub-head squre-head">
                            Structural Glazing
                        </span>
                        <p class="text-sub margin-bottom-15">
                            A curtain wall system is an outer covering of a building in which the outer walls are non-structural,
                            utilized only to keep the weather out and the occupants in. Since the curtain wall is non-structural, it
                            can be made of lightweight materials, thereby reducing construction costs. When glass is used as
                            the curtain wall, an advantage is that natural light can penetrate deeper within the building.<br /> The
                            curtain wall façade does not carry any structural load from the building other than its own dead load
                            weight. The wall transfers lateral wind loads that are incident upon it to the main building structure
                            through connections at floors or columns of the building.
                        </p>
                        <div class="wrapper-main"><a href="#" class="go-btn">Explore </a></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="section" id="section3">
            <div class="main-img3"></div>
            <div class="bg-text4 fadeindown">
                <div class="bg-text1-main">
                    <div class="text-add-bg">
                        <span class="sub-head squre-head">
                            Architectural pergolas
                        </span>
                        <p class="text-sub margin-bottom-15">
                            At my home, the best place in the world
                            Pergolas have been around for centuries and their early roots can be traced back to Latin times.
                            Originally, they were used more for walkways and garden-types of uses, like growing grapes
                            and vines.<br /> A pergola is a backyard feature forming a shaded walkway, passageway, or sitting
                            area with vertical posts or pillars that usually support a roof-type structure of cross-beams and a
                            sturdy open framework. Atmospheric lighting, the perfect temperature, timeless style: a space
                            that is yearning for designs to fulfill your every dream and desire. Behind a sun awning, beneath
                            a pergola or shade sail, life is free to expand into comfort and beauty.
                        </p>
                        <div class="wrapper-main"><a href="#" class="go-btn">Explore</a></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="section" id="section4">
            <div class="main-img4"></div>
            <div class="bg-text3 fadeindown">
                <div class="bg-text1-main">
                    <div class="text-add-bg">
                        <span class="sub-head squre-head">
                            Architectural Metal crafting
                        </span>
                        <p class="text-sub margin-bottom-15">
                            We are recognized as leading manufacturer, trader and service provider of wide range of
                            Stainless Steel Railings & Interiors Design. Our products are broadly recognized for their
                            aesthetic construction, durable finish, sturdy designs, and wear & corrosion resistance.
                        </p>
                        <div class="wrapper-main"><a href="#" class="go-btn">Explore</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>




    <div class="footer-menu">
        <div class="wrapper-main-in">
            <div class="wrapper-main">
                <div class="social-icon-main">
                    <span class="follow-us"> Follow us </span>
                    <a href="#"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
                    <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                    <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                </div>
                <div class="footer-menu-bottom">
                    <ul>
                        <li><a>Muscat</a></li>
                        <li><a>Dubai</a>  </li>
                        <!--<li><a>karnataka</a> </li>
                        <li><a>telangana</a>     </li>
                        <li><a> andhra pradesh</a>     </li>
                        <li><a> maharashtra</a>  </li>-->
                    </ul>
                </div>
            </div> <!--main-->
        </div> <!--footer menu-->
    </div> <!--bottom section-->

    <script src="~/js/jquery-1.11.1.min.js"></script>

    <script type="text/javascript" src="~/js/jquery.fullPage.js"></script>
    <script src="~/js/bootstrap.min.js"></script>

    <script type="text/javascript">
		$(document).ready(function() {
			$('#fullpage').fullpage({
				anchors: ['firstPage', 'secondPage', '3rdPage'],
				sectionsColor: ['#C63D0F', '#1BBC9B', '#7E8F7C'],
				navigation: true,
				navigationPosition: 'right',
				 loopHorizontal: true,
				 scrollingSpeed: 1000,
            autoScrolling: true,
            fitToSection: true,
            fitToSectionDelay: 1000,
            easing: 'easeInOutCubic',
            easingcss3: 'ease',
            loopBottom: false,
            loopTop: false,
			 continuousVertical: true,
			  paddingTop: 0,
            paddingBottom: 0,
			css3: true,
				//navigationTooltips: ['First page', 'Second page', 'Third and last page']

					});
			});
    </script>


</body>
</html>
